@charset "UTF-8";
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-LightItalic-BETA.woff2") format("woff2"), url("../fonts/Inter-LightItalic-BETA.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Intro;
  font-display: swap;
  src: url("../fonts/IntroDemoBlackCaps.woff2") format("woff2"), url("../fonts/IntroDemoBlackCaps.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Intro";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Intro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  touch-action: pan-x pan-y;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
body._loaded {
  opacity: 1;
  visibility: visible;
}
body._hold {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: url("../img/icons/sky-dots.svg") center/cover no-repeat, linear-gradient(180deg, #23272a 0%, #091739 100%);
}
.wrapper._visible {
  display: flex;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
  background: radial-gradient(51.3% 100% at 51.3% 0%, rgba(168, 81, 255, 0.5) 0%, rgba(207, 72, 255, 0) 100%, rgba(163, 72, 255, 0) 100%), #2c363a;
  border: 1px solid #6606e0;
  box-shadow: 0px 0px 0px 2px #2f332f, 0px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  transition: all 0.3s ease 0s;
}
@supports (width: clamp( 15.875rem , -2.375rem  +  36.5vw , 25rem )) {
  .button {
    width: clamp( 15.875rem , -2.375rem  +  36.5vw , 25rem );
  }
}
@supports not (width: clamp( 15.875rem , -2.375rem  +  36.5vw , 25rem )) {
  .button {
    width: calc(15.875rem + 9.125 * (100vw - 50rem) / 25);
  }
}
@supports (height: clamp( 3.4375rem , 0.9375rem  +  5vw , 4.6875rem )) {
  .button {
    height: clamp( 3.4375rem , 0.9375rem  +  5vw , 4.6875rem );
  }
}
@supports not (height: clamp( 3.4375rem , 0.9375rem  +  5vw , 4.6875rem )) {
  .button {
    height: calc(3.4375rem + 1.25 * (100vw - 50rem) / 25);
  }
}
.button p {
  font-size: 1.25rem;
  line-height: 1.25;
  color: #ffffff;
}
.button_shop {
  background: radial-gradient(51.3% 100% at 51.3% 0%, rgba(126, 255, 81, 0.2) 0%, rgba(72, 255, 156, 0) 100%), #2c363a;
  border: 1px solid #2fc018;
}
.button__icon {
  width: 2rem;
  height: 2rem;
  background: url("../img/icons/cart.svg") center/contain no-repeat;
  position: relative;
  top: 0.125rem;
}
.button:active {
  transform: scale(0.97);
}
.button._hold {
  opacity: 0.5;
  pointer-events: none;
}

.preloader {
  background: url("../img/icons/sky-dots.svg") center/cover no-repeat, linear-gradient(180deg, #23272a 0%, #091739 100%);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.preloader__button {
  margin-bottom: 0.625rem;
}
.preloader._hide {
  display: none;
}

.acces-preloader {
  max-height: calc(100vh - 195px);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  padding: 0 4.6875rem;
}
.acces-preloader._hide {
  display: none;
}
.acces-preloader__text {
  padding-bottom: 0.75rem;
}

.text-pre {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #fff;
}

.title {
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  color: #e6f9ff;
  -webkit-text-stroke: 1px #7448F1;
  text-shadow: 0px 4px 6px rgba(67, 131, 255, 0.61), 0px 2px 0px rgba(0, 0, 0, 0.25);
}
@supports (font-size: clamp( 2.25rem , 0.6634615385rem  +  4.6153846154vw , 4.125rem )) {
  .title {
    font-size: clamp( 2.25rem , 0.6634615385rem  +  4.6153846154vw , 4.125rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 0.6634615385rem  +  4.6153846154vw , 4.125rem )) {
  .title {
    font-size: calc(2.25rem + 1.875 * (100vw - 34.375rem) / 40.625);
  }
}

.block-bet {
  width: 100%;
}
.block-bet._hold {
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__title {
  font-family: "Intro";
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #ffffff;
}
@media (min-height: 37.5em) {
  .block-bet__title {
    font-size: 1.25rem;
  }
}
.block-bet__count-row {
  display: flex;
  align-items: center;
  column-gap: 0.3125rem;
}
.block-bet__controls {
  min-height: 1.75rem;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  column-gap: 0.3125rem;
}
@media (min-height: 37.5em) {
  .block-bet__controls {
    min-height: 3.125rem;
  }
}
.block-bet__controls._hold {
  transition: all 0.6s ease 0s;
  pointer-events: none;
  opacity: 0.3;
}
.block-bet__min, .block-bet__max {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}
.block-bet__min:active, .block-bet__max:active {
  transform: translateY(2px);
}
.block-bet__minus, .block-bet__plus {
  min-height: 100%;
  background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.block-bet__bet {
  min-height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.9375rem;
  background: linear-gradient(90.39deg, #24282c 4.37%, #272e32 102.11%);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #32373a;
  border-radius: 0.25rem;
  margin-bottom: 0.3125rem;
}
@media (min-height: 37.5em) {
  .block-bet__bet {
    min-height: 3.75rem;
  }
}
.block-bet__coins {
  font-family: "Inter";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #fff;
}
.block-bet__coins._no-money {
  animation: no-money 0.5s ease 2;
}

.check._no-money {
  animation: no-money 0.5s ease 2;
}
.check._delete-money {
  animation: delete-money 0.5s ease;
}
.check._anim-add-money {
  animation: add-money 0.5s ease 2;
}

.money {
  display: flex;
  justify-content: center;
  height: 2.5625rem;
}
.money__body {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
.money__text {
  color: #8e9da9 !important;
}
@media (max-width: 43.75em) {
  .money__text_game {
    display: none;
  }
}
.money__row {
  width: 7.1875rem;
  height: 1.5625rem;
  display: flex;
  align-items: center;
  background: linear-gradient(91.09deg, #161819 3.36%, #2b2f33 104.03%);
  border-radius: 0.1875rem;
  padding-left: 0.625rem;
}
@supports (column-gap: clamp( 0.25rem , -0.575rem  +  2.4vw , 0.625rem )) {
  .money__row {
    column-gap: clamp( 0.25rem , -0.575rem  +  2.4vw , 0.625rem );
  }
}
@supports not (column-gap: clamp( 0.25rem , -0.575rem  +  2.4vw , 0.625rem )) {
  .money__row {
    column-gap: calc(0.25rem + 0.375 * (100vw - 34.375rem) / 15.625);
  }
}
.money__coins {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.625rem;
}

.icon-anim img._anim-icon-jump {
  animation: jump_icon 5s ease;
}
.icon-anim img._anim-icon-scale {
  animation: scale_icon 0.5s ease 2;
}
.icon-anim img._anim-icon-rotate {
  animation: rotate_icon 1.5s ease-out 1;
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 1.2142857143;
  color: #f9f9f9;
}
@supports (font-size: clamp( 0.875rem , 0.125rem  +  1.5vw , 1.25rem )) {
  .text {
    font-size: clamp( 0.875rem , 0.125rem  +  1.5vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.125rem  +  1.5vw , 1.25rem )) {
  .text {
    font-size: calc(0.875rem + 0.375 * (100vw - 50rem) / 25);
  }
}

.text-game {
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.2142857143;
  color: #ffffff;
}
@supports (font-size: clamp( 0.75rem , 0.5rem  +  0.5vw , 0.875rem )) {
  .text-game {
    font-size: clamp( 0.75rem , 0.5rem  +  0.5vw , 0.875rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.5rem  +  0.5vw , 0.875rem )) {
  .text-game {
    font-size: calc(0.75rem + 0.125 * (100vw - 50rem) / 25);
  }
}

.main__body {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}
.select-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease 0s;
}
.select-name._hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
}
.select-name__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.select-name__title {
  margin-top: 0.9375rem;
}
.select-name__input-box {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-name__input-box-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5625rem;
}
.select-name__input {
  height: 4.5rem;
  background: linear-gradient(90.39deg, #24282c 4.37%, #272e32 102.11%);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
  border: 1px solid #32373a;
  padding-left: 1.25rem;
  font-family: Inter;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  color: #fff;
}
@supports (width: clamp( 15.625rem , -9.95rem  +  74.4vw , 27.25rem )) {
  .select-name__input {
    width: clamp( 15.625rem , -9.95rem  +  74.4vw , 27.25rem );
  }
}
@supports not (width: clamp( 15.625rem , -9.95rem  +  74.4vw , 27.25rem )) {
  .select-name__input {
    width: calc(15.625rem + 11.625 * (100vw - 34.375rem) / 15.625);
  }
}
.select-name__input._anim {
  animation: border 0.3s ease 2;
}
.select-name__input::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #5f676b;
}
.lobby {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.3s ease 0s;
}
.lobby._active .lobby__rocket {
  animation: rocket_main 2s ease forwards 0.6s;
}
.lobby._hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
}
.lobby__body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 1.25rem;
  position: relative;
}
.lobby__backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lobby__rocket {
  position: absolute;
  bottom: -50%;
  left: 40%;
  transform: rotate(60deg);
  width: 4.5rem;
  height: 7.9375rem;
  background: url("../img/icons/rocket_2.svg") center/contain no-repeat;
}
.lobby__rocket-pin {
  position: absolute;
  bottom: 10px;
  left: 55%;
  transform: translateX(-50%);
  width: 0.3125rem;
  height: 0.3125rem;
}
.name__name-item {
  display: flex;
}
.name__text {
  white-space: nowrap;
}
.name__name-text {
  color: #8e9da9;
  padding-left: 0.3125rem;
}

.main-lobby__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  position: relative;
  z-index: 1;
}
.main-lobby__buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-lobby__buttons-inner {
  display: flex;
  flex-direction: column;
}
@supports (row-gap: clamp( 1.875rem , -3.125rem  +  10vw , 4.375rem )) {
  .main-lobby__buttons-inner {
    row-gap: clamp( 1.875rem , -3.125rem  +  10vw , 4.375rem );
  }
}
@supports not (row-gap: clamp( 1.875rem , -3.125rem  +  10vw , 4.375rem )) {
  .main-lobby__buttons-inner {
    row-gap: calc(1.875rem + 2.5 * (100vw - 50rem) / 25);
  }
}
.shop__body {
  min-height: 100vh;
  background: linear-gradient(180deg, #23272a 0%, #091739 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 1.5625rem;
  position: relative;
}
.header-shop {
  width: 100%;
}
.header-shop__body {
  display: flex;
  align-items: center;
}
.header-shop__button {
  width: 2.5rem;
  height: 2.5rem;
}
.header-shop__money {
  position: absolute;
  top: 1.875rem;
  right: 1.25rem;
  width: auto;
}
.header-shop__title {
  flex: 1 1 auto;
}

.items-shop {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.items-shop__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5625rem;
  width: 100%;
}
.items-shop__item {
  position: relative;
  /* Если браузер поддерживает backdrop-filter */
}
@media (min-height: 37.5em) {
  .items-shop__item {
    min-height: 23.75rem;
  }
}
@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
  .items-shop__item span {
    position: absolute;
    z-index: 1;
  }
  .items-shop__item span:first-child {
    top: 0.625rem;
    left: 0.625rem;
    border-radius: 50%;
    background-color: #00ffb2;
  }
  @supports (width: clamp( 4.375rem , -0.4375rem  +  14vw , 6.5625rem )) {
    .items-shop__item span:first-child {
      width: clamp( 4.375rem , -0.4375rem  +  14vw , 6.5625rem );
    }
  }
  @supports not (width: clamp( 4.375rem , -0.4375rem  +  14vw , 6.5625rem )) {
    .items-shop__item span:first-child {
      width: calc(4.375rem + 2.1875 * (100vw - 34.375rem) / 15.625);
    }
  }
  @supports (height: clamp( 4.375rem , -0.4375rem  +  14vw , 6.5625rem )) {
    .items-shop__item span:first-child {
      height: clamp( 4.375rem , -0.4375rem  +  14vw , 6.5625rem );
    }
  }
  @supports not (height: clamp( 4.375rem , -0.4375rem  +  14vw , 6.5625rem )) {
    .items-shop__item span:first-child {
      height: calc(4.375rem + 2.1875 * (100vw - 34.375rem) / 15.625);
    }
  }
  .items-shop__item span:nth-child(2) {
    bottom: 0.625rem;
    right: 0.625rem;
    border-radius: 50%;
    background-color: #00ff75;
  }
  @supports (width: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
    .items-shop__item span:nth-child(2) {
      width: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem );
    }
  }
  @supports not (width: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
    .items-shop__item span:nth-child(2) {
      width: calc(3.125rem + 1.375 * (100vw - 34.375rem) / 15.625);
    }
  }
  @supports (height: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
    .items-shop__item span:nth-child(2) {
      height: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem );
    }
  }
  @supports not (height: clamp( 3.125rem , 0.1rem  +  8.8vw , 4.5rem )) {
    .items-shop__item span:nth-child(2) {
      height: calc(3.125rem + 1.375 * (100vw - 34.375rem) / 15.625);
    }
  }
}
.items-shop__item._active .items-shop__button {
  background: radial-gradient(51.3% 100% at 51.3% 0%, rgba(255, 175, 81, 0.2) 0%, rgba(96, 255, 72, 0) 100%), #2c363a;
  border: 1px solid #56c018;
  box-shadow: 0px 0px 0px 2px #61752b, 0px 6px 8px rgba(176, 192, 84, 0.25);
}
.items-shop__item._active .items-shop__price {
  opacity: 0;
  visibility: hidden;
}
.items-shop__item._anim .items-shop__image img {
  animation: buy_rocket 0.7s ease 0.3s forwards;
}
.items-shop__item._selected .items-shop__image img {
  transform: rotate(-60deg);
}
.items-shop__item-inner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background: rgb(36, 45, 63);
  /* Если браузер поддерживает backdrop-filter */
  border-radius: 16px;
  padding: 1.25rem 0.9375rem;
}
@supports (-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px)) {
  .items-shop__item-inner {
    background: rgba(36, 45, 63, 0.82);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
}
.items-shop__boost-count {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #faf8bf;
}
@supports (top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.5rem )) {
  .items-shop__boost-count {
    top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.5rem );
  }
}
@supports not (top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.5rem )) {
  .items-shop__boost-count {
    top: calc(0.1875rem + 0.3125 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (left: clamp( 0.5rem , -0.1875rem  +  2vw , 0.8125rem )) {
  .items-shop__boost-count {
    left: clamp( 0.5rem , -0.1875rem  +  2vw , 0.8125rem );
  }
}
@supports not (left: clamp( 0.5rem , -0.1875rem  +  2vw , 0.8125rem )) {
  .items-shop__boost-count {
    left: calc(0.5rem + 0.3125 * (100vw - 34.375rem) / 15.625);
  }
}
.items-shop__price {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #fff734;
}
@supports (top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.5rem )) {
  .items-shop__price {
    top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.5rem );
  }
}
@supports not (top: clamp( 0.1875rem , -0.5rem  +  2vw , 0.5rem )) {
  .items-shop__price {
    top: calc(0.1875rem + 0.3125 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (right: clamp( 0.5rem , -0.1875rem  +  2vw , 0.8125rem )) {
  .items-shop__price {
    right: clamp( 0.5rem , -0.1875rem  +  2vw , 0.8125rem );
  }
}
@supports not (right: clamp( 0.5rem , -0.1875rem  +  2vw , 0.8125rem )) {
  .items-shop__price {
    right: calc(0.5rem + 0.3125 * (100vw - 34.375rem) / 15.625);
  }
}
.items-shop__image {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(39.26% 39.52% at 50% 50%, rgba(255, 199, 0, 0.47) 0%, rgba(254, 213, 0, 0.07) 100%);
  margin-bottom: 1.25rem;
  position: relative;
}
@supports (width: clamp( 5rem , -1.05rem  +  17.6vw , 7.75rem )) {
  .items-shop__image {
    width: clamp( 5rem , -1.05rem  +  17.6vw , 7.75rem );
  }
}
@supports not (width: clamp( 5rem , -1.05rem  +  17.6vw , 7.75rem )) {
  .items-shop__image {
    width: calc(5rem + 2.75 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 5rem , -1.05rem  +  17.6vw , 7.75rem )) {
  .items-shop__image {
    height: clamp( 5rem , -1.05rem  +  17.6vw , 7.75rem );
  }
}
@supports not (height: clamp( 5rem , -1.05rem  +  17.6vw , 7.75rem )) {
  .items-shop__image {
    height: calc(5rem + 2.75 * (100vw - 34.375rem) / 15.625);
  }
}
.items-shop__image img {
  transform: rotate(30deg);
  transition: all 0.3s ease 0s;
}
.items-shop__button {
  width: 90%;
  background: radial-gradient(51.3% 100% at 51.3% 0%, rgba(255, 175, 81, 0.2) 0%, rgba(251, 255, 72, 0) 100%), #2c363a;
  border: 1px solid #c0a518;
  box-shadow: 0px 0px 0px 2px #75532b, 0px 6px 8px rgba(192, 143, 84, 0.25);
  border-radius: 0.625rem;
  transition: all 0.3s ease 0s;
}
.items-shop__button p {
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
}
@supports (font-size: clamp( 1rem , 0.45rem  +  1.6vw , 1.25rem )) {
  .items-shop__button p {
    font-size: clamp( 1rem , 0.45rem  +  1.6vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 1rem , 0.45rem  +  1.6vw , 1.25rem )) {
  .items-shop__button p {
    font-size: calc(1rem + 0.25 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (padding-top: clamp( 0.125rem , -0.5625rem  +  2vw , 0.4375rem )) {
  .items-shop__button p {
    padding-top: clamp( 0.125rem , -0.5625rem  +  2vw , 0.4375rem );
  }
}
@supports not (padding-top: clamp( 0.125rem , -0.5625rem  +  2vw , 0.4375rem )) {
  .items-shop__button p {
    padding-top: calc(0.125rem + 0.3125 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (padding-bottom: clamp( 0.125rem , -0.5625rem  +  2vw , 0.4375rem )) {
  .items-shop__button p {
    padding-bottom: clamp( 0.125rem , -0.5625rem  +  2vw , 0.4375rem );
  }
}
@supports not (padding-bottom: clamp( 0.125rem , -0.5625rem  +  2vw , 0.4375rem )) {
  .items-shop__button p {
    padding-bottom: calc(0.125rem + 0.3125 * (100vw - 34.375rem) / 15.625);
  }
}
.items-shop__button:active {
  transform: scale(0.9);
}
.items-shop__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #ffffff;
}

.button-home {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url("../img/icons/arrow-left.svg") center/50% 50% no-repeat, linear-gradient(117.14deg, #2e3439 13.55%, #1e2224 97.04%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game__body {
  min-height: 100vh;
  padding: 0.75rem 1.25rem;
  background: #23272a;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
.header-game__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.625rem;
}
.header-game__button {
  flex: 0 0 2.5rem;
  height: 2.5rem;
}
.header-game__title {
  white-space: nowrap;
}
@supports (font-size: clamp( 1rem , -0.1rem  +  3.2vw , 1.5rem )) {
  .header-game__title {
    font-size: clamp( 1rem , -0.1rem  +  3.2vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1rem , -0.1rem  +  3.2vw , 1.5rem )) {
  .header-game__title {
    font-size: calc(1rem + 0.5 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (font-size: clamp( 1.5rem , 0.3rem  +  2.4vw , 2.25rem )) {
    .header-game__title {
      font-size: clamp( 1.5rem , 0.3rem  +  2.4vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.3rem  +  2.4vw , 2.25rem )) {
    .header-game__title {
      font-size: calc(1.5rem + 0.75 * (100vw - 50rem) / 31.25);
    }
  }
}
.boost-game__body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 40.625em) {
  .boost-game__body {
    margin-left: 0.625rem;
  }
}
.boost-game__count {
  position: absolute;
  top: 0.3125rem;
  left: -0.625rem;
  font-size: 0.5rem;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
@media (min-height: 37.5em) {
  .boost-game__count {
    font-size: 1rem;
  }
}
.boost-game__image {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}
@supports (width: clamp( 1.625rem , 0.25rem  +  4vw , 2.25rem )) {
  .boost-game__image {
    width: clamp( 1.625rem , 0.25rem  +  4vw , 2.25rem );
  }
}
@supports not (width: clamp( 1.625rem , 0.25rem  +  4vw , 2.25rem )) {
  .boost-game__image {
    width: calc(1.625rem + 0.625 * (100vw - 34.375rem) / 15.625);
  }
}
@supports (height: clamp( 1.625rem , 0.25rem  +  4vw , 2.25rem )) {
  .boost-game__image {
    height: clamp( 1.625rem , 0.25rem  +  4vw , 2.25rem );
  }
}
@supports not (height: clamp( 1.625rem , 0.25rem  +  4vw , 2.25rem )) {
  .boost-game__image {
    height: calc(1.625rem + 0.625 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  @supports (width: clamp( 2.875rem , 0.375rem  +  5vw , 4.125rem )) {
    .boost-game__image {
      width: clamp( 2.875rem , 0.375rem  +  5vw , 4.125rem );
    }
  }
  @supports not (width: clamp( 2.875rem , 0.375rem  +  5vw , 4.125rem )) {
    .boost-game__image {
      width: calc(2.875rem + 1.25 * (100vw - 50rem) / 25);
    }
  }
  @supports (height: clamp( 2.875rem , 0.375rem  +  5vw , 4.125rem )) {
    .boost-game__image {
      height: clamp( 2.875rem , 0.375rem  +  5vw , 4.125rem );
    }
  }
  @supports not (height: clamp( 2.875rem , 0.375rem  +  5vw , 4.125rem )) {
    .boost-game__image {
      height: calc(2.875rem + 1.25 * (100vw - 50rem) / 25);
    }
  }
}
.boost-game__button {
  width: 3.75rem;
  height: 1.875rem;
  background: linear-gradient(92.76deg, #2ba4fb 7.07%, #7bcfff 98.54%);
  border: 1px solid #1eaeff;
  box-shadow: 0px 2px 3px rgba(0, 98, 244, 0.54);
  border-radius: 0.875rem;
  position: relative;
  left: -0.3125rem;
  transition: all 0.3s ease 0s;
}
.boost-game__button p {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  text-align: center;
  color: #ffffff;
}
@media (min-height: 37.5em) {
  .boost-game__button {
    width: 5.625rem;
    height: 2.8125rem;
    border-radius: 1.5rem;
  }
  .boost-game__button p {
    font-size: 1.25rem;
  }
}
.boost-game__button:active {
  transform: scale(0.9);
}
.boost-game__button._hold {
  pointer-events: none;
  opacity: 0.5;
}
.boost-game__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.3125rem;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}

.main-game {
  flex: 1 1 auto;
  display: flex;
}
.main-game__body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100%;
  width: 100%;
  column-gap: 0.9375rem;
}
.main-game__controls {
  padding-top: 0.625rem;
}

.controls {
  display: flex;
}
.controls__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  row-gap: 0.625rem;
}
.controls__body._hold {
  opacity: 0.5;
  pointer-events: none;
}
.controls__mode {
  display: grid;
  width: 100%;
  min-height: 2.0625rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5625rem;
  display: none;
}
.controls__mode-item {
  background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.625rem;
}
.controls__mode-item span {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #282c2f;
  box-shadow: 0px 3px 4px #1a1e21, inset 0px -1px 2px rgba(148, 148, 148, 0.71);
}
.controls__mode-item p {
  font-family: "Inter";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #ffffff;
}
.controls__mode-item._active span {
  background: #2dfb8c;
  box-shadow: 0px 3px 4px rgba(0, 242, 111, 0.65), inset 0px -1px 2px rgba(255, 255, 255, 0.71);
}
.auto-cash {
  width: 100%;
  min-height: 2.625rem;
  display: none;
}
.auto-cash__body {
  background: linear-gradient(90.39deg, #24282c 4.37%, #272e32 102.11%);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #32373a;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  min-height: 100%;
}
.auto-cash__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.125rem;
  padding-left: 0.75rem;
  min-height: 100%;
}
.auto-cash__title {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #ffffff;
}
.auto-cash__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4375rem;
  margin-right: 0.3125rem;
}
.auto-cash__button {
  background: linear-gradient(90.39deg, #282c2f 4.37%, #272b2e 102.11%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 0.25rem;
  min-height: 2.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
@supports (width: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .auto-cash__button {
    width: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem );
  }
}
@supports not (width: clamp( 1.5625rem , -0.5rem  +  6vw , 2.5rem )) {
  .auto-cash__button {
    width: calc(1.5625rem + 0.9375 * (100vw - 34.375rem) / 15.625);
  }
}
.auto-cash__button:active {
  transform: scale(0.9);
}
.button-control {
  width: 100%;
  transition: all 0.3s ease 0s;
}
@supports (min-height: clamp( 2.8125rem , 1.4375rem  +  4vw , 3.4375rem )) {
  .button-control {
    min-height: clamp( 2.8125rem , 1.4375rem  +  4vw , 3.4375rem );
  }
}
@supports not (min-height: clamp( 2.8125rem , 1.4375rem  +  4vw , 3.4375rem )) {
  .button-control {
    min-height: calc(2.8125rem + 0.625 * (100vw - 34.375rem) / 15.625);
  }
}
@media (min-height: 37.5em) {
  .button-control {
    min-height: 4.375rem;
  }
}
.button-control:active {
  transform: scale(0.9);
}
.button-control__body {
  background: radial-gradient(51.3% 100% at 51.3% 0%, rgba(81, 255, 203, 0.2) 0%, rgba(72, 255, 123, 0) 100%), #2c363a;
  border: 1px solid #18c08e;
  box-shadow: 0px 0px 0px 2px #2f332f, 0px 6px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-control__body._again {
  background: radial-gradient(51.3% 100% at 51.3% 0%, rgba(232, 255, 81, 0.2) 0%, rgba(255, 231, 72, 0) 100%), #2c363a;
  border: 1px solid #a7c018;
}
.button-control__title {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #ffffff;
}
@media (min-height: 37.5em) {
  @supports (font-size: clamp( 0.875rem , -0.375rem  +  2.5vw , 1.5rem )) {
    .button-control__title {
      font-size: clamp( 0.875rem , -0.375rem  +  2.5vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , -0.375rem  +  2.5vw , 1.5rem )) {
    .button-control__title {
      font-size: calc(0.875rem + 0.625 * (100vw - 50rem) / 25);
    }
  }
}

.field__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  row-gap: 0.3125rem;
}
.buttons-field {
  display: none;
}
.buttons-field__body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.625rem;
}
.buttons-field__button {
  background: #184066;
  border: 1px solid #4c95be;
  box-shadow: 0px 2px 3px rgba(0, 112, 244, 0.29);
  border-radius: 0.25rem;
  min-height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #7d5ff7;
}
.buttons-field__button_green {
  background: #186646;
  border: 1px solid #4cbe90;
  box-shadow: 0px 2px 3px rgba(5, 244, 0, 0.29);
  color: #46cf97;
}
.buttons-field__button_yellow {
  background: linear-gradient(92.76deg, #fbc72b 7.07%, #feeabc 98.54%);
  border: 1px solid #edff1e;
  box-shadow: 0px 2px 3px rgba(244, 205, 0, 0.54);
  color: #525453;
}

.square {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
.square__body {
  background: linear-gradient(94.56deg, #054d8d 2.94%, #090b26 99.08%);
  border: 1px solid #44727c;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.6875rem;
  min-height: 100%;
  width: 100%;
  position: relative;
}
.square__grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.square__block {
  border: 1px solid rgba(68, 114, 124, 0.5);
}
.square__block:first-child, .square__block:nth-child(2), .square__block:nth-child(3), .square__block:nth-child(4), .square__block:nth-child(5), .square__block:nth-child(6), .square__block:nth-child(7), .square__block:nth-child(8) {
  border-top-style: none;
}
.square__block:last-child, .square__block:nth-child(33), .square__block:nth-child(34), .square__block:nth-child(35), .square__block:nth-child(36), .square__block:nth-child(37), .square__block:nth-child(38), .square__block:nth-child(39) {
  border-bottom-style: none;
}
.square__block:nth-child(1), .square__block:nth-child(9), .square__block:nth-child(17), .square__block:nth-child(25), .square__block:nth-child(33) {
  border-left-style: none;
}
.square__block:nth-child(8), .square__block:nth-child(16), .square__block:nth-child(24), .square__block:nth-child(32), .square__block:nth-child(40) {
  border-right-style: none;
}
.square__dot {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 0.3125rem;
  height: 0.3125rem;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  animation: fade_in_out 1s linear infinite;
}
.square__dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.4375rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#fff 0%, rgba(255, 255, 255, 0.3) 70%);
  animation: move_smoke 1s linear infinite;
}
.square__pin {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
}
.square__dot-line {
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  animation: line_opacity 1s ease forwards;
}
.square__player {
  position: absolute;
  bottom: -5%;
  left: 3%;
  transform: rotate(75deg);
  z-index: 3;
}
@media (max-height: 37.5em) {
  .square__player img {
    max-width: 1.875rem;
  }
}
.square__bot {
  position: absolute;
  left: 1%;
  transform: rotate(75deg);
}
@media (max-height: 37.5em) {
  .square__bot img {
    max-width: 1.875rem;
  }
}
.square__bot_1 {
  bottom: 5%;
  z-index: 2;
}
.square__bot_2 {
  bottom: 10%;
  z-index: 1;
}
.square__info-item {
  position: absolute;
  bottom: -6.25rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease 0s;
}
@media (min-height: 37.5em) {
  .square__info-item {
    bottom: -12.5rem;
    right: 3.125rem;
  }
}
.square__info-item._active {
  opacity: 1;
  bottom: 1rem;
}
@media (min-height: 37.5em) {
  .square__info-item._active {
    bottom: 5rem;
    right: 3.125rem;
  }
}
.square__info-item._win .square__text {
  color: #00ff85;
}
.square__info-item._loose .square__count {
  display: none;
}
.square__info-item._loose .square__text {
  color: #f8446b;
}
.square__count {
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #ffffff;
}
@media (min-height: 37.5em) {
  .square__count {
    font-size: 5rem;
  }
}
.square__text {
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #00ff85;
  font-size: 2.875rem;
}

.ctx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes no-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes delete-money {
  0% {
    color: #fff;
  }
  100% {
    color: rgb(255, 155, 155);
    transform: translateY(3px);
  }
}
@keyframes add-money {
  100% {
    color: yellow;
    transform: translateY(-3px);
  }
}
@keyframes show_item_y {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes show_item_x {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes jump_icon {
  0%, 69% {
    transform: translate(0, 0);
  }
  77% {
    transform: translate(0, -10px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  82% {
    transform: translate(0px, -6px);
  }
  85% {
    transform: translate(0px, 0px);
  }
  87% {
    transform: translate(0px, -2px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes scale_icon {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes rotate_icon {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes border {
  0% {
    border: 1px solid #32373a;
  }
  100% {
    border: 1px solid #a4daf9;
  }
}
@keyframes rocket_main {
  0% {
    bottom: -50%;
    left: 40%;
    transform: rotate(60deg);
  }
  100% {
    bottom: 40%;
    left: 75%;
    transform: rotate(45deg);
  }
}
@keyframes buy_rocket {
  0% {
    transform: rotate(30deg);
    opacity: 1;
  }
  80% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translateY(-100px);
    opacity: 0;
  }
}
@keyframes move_smoke {
  0% {
    transform: translate(0) rotate(0) scale(0.5);
  }
  100% {
    transform: translate(30px) rotate(360deg) scale(1.5);
  }
}
@keyframes fade_in_out {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}
@keyframes line_opacity {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }
  100% {
    opacity: 0.7;
    transform: scale(1.2);
  }
}
